<% layout('layouts/boilerplate') %>
<body>
  <h1>All Campgrounds</h1>
  <div>
    <a href="/campgrounds/new">Add Camground</a>
  </div>
  <ul>
    <% campgrounds.forEach(campground => { %>
    <div class="card" mb-3>
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid" src="<%= campground.image %>" alt="" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= campground.title %></h5>
            <p class="card-text"><%= campground.description %></p>
            <p class="card-text">
              <small class="text-muted"> <%= campground.location %> </small>
            </p>
            <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>"
              ><i class="fas fa-angle-double-right"></i> View <%=
              campground.title %>
            </a>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </ul>
</body>
